{% extends 'minibase.html' %}
{% load staticfiles %}
{% block content %}
<body onLoad="readyToPlot()" style="min-width:1325px;">
<center>
<table width = 700px style="margin-top:5px;">
  <tr>
  <td width=12%>
  </td>
    <td id="in1" width=33%><center><input id="gene_1" onclick="clickclear(document.getElementById('gene_1'), 'gene_1')" type="text" size="16" value="gene_1"></center></td>
    <td id="in2" width=33%><center><input id="gene_2" onclick="clickclear(document.getElementById('gene_2'), 'gene_2')" type="text" size="16" value="gene_2"></center></td>
	<td>
	<p><button class="btn btn-success" id="plotify" onclick="addPairPlots(document.getElementById('gene_1').value, document.getElementById('gene_2').value, '{{studyid}}' )" style="margin-top:-11px;" >Plotify</button></p>
	</td>
  </tr>
</table>

  <div id="wait"></div>
  <center>
  <p id="no-results"></p>
  <input id="studyid" value="{{studyid}}">
</center>

<center>
<div id="barkeeper">

<div id="leftbar">

<div id="infocontainer">
	<div id="infotitle"><b>Selected Ids: 0</b>
</div>

	<div id="infobody">
	</div>
</div>

</div>

<div id="rightbar">
<table > 
<tr>
<td>

<table>
           <tr>
			 <td style="width:130px;">
			   Study:
			</td>
			<td>
			  {{studyid}}
			</td>
			</tr>
           <tr>
             <td style="width:130px;">
               Samples:
             </td>
			 <td>
			 {{columns}}
			 </td>
           </tr>
		   <tr>
             <td style="width:130px;">
               Variables:
             </td>
			 <td>
			 {{rows}}
			 </td>
           </tr>
           <tr>
             <td style="width:130px;">
               Attribute: 

             </td>
			 <td>
			 
			 </td>
           </tr>
         </table>

       </td>
	   </tr>
	   <tr>
	   <td>
	   <select id="selectColorCode">  </select>
	   </td>
	   </tr>
	   <tr>
       <td>
         <div  id="list"></div>
       </td>
	   </tr>
       <td>
         <div id="hist"></div>
       </td>
     </tr>
   </table>

</div>

</div>

</center>
<div id="plotContainer">
<span>
</span>
</div>

<div>
   <form
      id="graphDownload"
      method="post" action="http://yates.webfactional.com/studies/getGraph/"

        {% csrf_token %}
        <input type="text" style="visibility:hidden;width:0px;" value="" type= "hidden" name="svg">
        </form>
        </div>


</body>


{% endblock %}
