{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h2 align="center" >Study {{studyid}}</h2>
<table width = 700px>
  <tr>
    <td width=33%>variables: {{rows}}</td>
    <td width=34%>samples: {{columns}}</td>
    <td width=33%>date: {{date}}</td>
  </tr>
</table>
<table width = 700px>
  <tr>
    <td id="in1" width=50%><center><input id="gene_1" onclick="clickclear(document.getElementById('gene_1'), 'gene_1')" type="text" size="16" value="gene_1"></center></td>
    <td id="in2" width=50%><center><input id="gene_2" onclick="clickclear(document.getElementById('gene_2'), 'gene_2')" type="text" size="16" value="gene_2"></center></td>
  </tr>
</table>
<center>
  <div id="wait"><p> Please wait while we gather sample data for this study</p></div>
  <p><button class="btn btn-success" id="plotify" onclick="addPair(document.getElementById('gene_1').value, document.getElementById('gene_2').value, '{{studyid}}' )">Plotify</button></p>

  <p id="no-results"></p>
 <p> <select id="selectColorCode">
</select></p>
  <input id="studyid" value="{{studyid}}">
</center>
<table><tr><td><div style="max-height:200px;min-height:50px;overflow:auto;width:300px;" id="list" class="list0"></div></td><td>
<div style="height:200px;width:400px;" id="hist" class="hist0">
</div></td></tr></table>
<div id="info"></div>
<span>
<div id="img0" style="height:16px;" >
<img src="http://www.famfamfam.com/lab/icons/silk/icons/cross.png" align="right" onclick="remove(0)" class="delete0" title="remove graph" >
<img src="http://www.famfamfam.com/lab/icons/silk/icons/application.png" align="right" onclick="openWindow(0)" title="new window" >
</div>
<div style="height:500px; width:700px;" id="plot" class="graph0">
</div>
</span>
{% endblock %}
