{% extends 'minibase.html' %}
{% load staticfiles %}
{% block content %}
<body onLoad="singlePlot('{{gene_x}}','{{gene_y}}','{{studyid}}')" style="min-width:1325px;">


<center>
<div id="barkeeper" style="positon:absolute; z-index:-1; width:100% min-width:1325px; margin-top:20px;">

<div id="leftbar" style="position:relative; float:left; width:275px; height:475px; border: 1px solid #D3D3D3; margin-right:-3px;">

<div id="infocontainer" style="height:100%; width:100%; position:relative;">
	<div id="infotitle" style="height:30px;"><b>Selected Ids: 0</b>
</div>

	<div id="infobody" style="height:445px; width:100%; overflow:auto;position:absolute; border-top-width: 1px; border-top-style: solid; border-top-color: #D3D3D3;">
	</div>
</div>

</div>

<div id="rightbar" style="position:relative; float:right; width:275px; height:475px; border: 1px solid #D3D3D3; padding:6px;">
<table > 
<tr>
<td>

<table>
           <tr>
			 <td style="width:130px;">
			   Study:
			</td>
			<td>
			  {{studyid}}
			</td>
			</tr>
           <tr>
             <td style="width:130px;">
               Samples:
             </td>
			 <td>
			 {{columns}}
			 </td>
           </tr>
		   <tr>
             <td style="width:130px;">
               Variables:
             </td>
			 <td>
			 {{rows}}
			 </td>
           </tr>
           <tr>
             <td style="width:130px;">
               Attribute: 

             </td>
			 <td>
			 
			 </td>
           </tr>
         </table>

       </td>
	   </tr>
	   <tr>
	   <td>
	   <select id="selectColorCode">  </select>
	   </td>
	   </tr>
	   <tr>
       <td>
         <div style="height:125px;width:275px; overflow:auto;white-space: nowrap;" id="list"></div>
       </td>
	   </tr>
       <td>
         <div id="hist" style="height:200px; width:275px;" ></div>
       </td>
     </tr>
   </table>

</div>

</div>

</center>

<center>
<div style="width:700px;">
<span>
<div id="plot" style="height:500px;width700px;">
</div>
</span>
<button onclick="download('')">Download Graph</button>
</div>
</center>
<div>
   <form
      id="graphDownload"
      method="post" action="http://yates.webfactional.com/studies/getGraph/"

        {% csrf_token %}
        <input type="text" style="visibility:hidden;width:0px;" value="" type= "hidden" name="svg">
        </form>
        </div>


</body>


{% endblock %}
