{% extends 'minibase.html' %}
{% load staticfiles %}
{% block content %}
<body onLoad="singlePlot('{{gene_x}}','{{gene_y}}','{{studyid}}')" style="min-width:1325px;">


<center>
<div id="barkeeper" style="margin-top:20px;">

<div id="leftbar">

<div id="infocontainer">
	<div id="infotitle"><b>Selected Ids: 0</b>
</div>

	<div id="infobody">
	</div>
</div>

</div>

<div id="rightbar">
<table > 
<tr>
<td>

<table>
           <tr>
			 <td style="width:130px;">
			   Study:
			</td>
			<td>
			  {{studyid}}
			</td>
			</tr>
           <tr>
             <td style="width:130px;">
               Samples:
             </td>
			 <td>
			 {{columns}}
			 </td>
           </tr>
		   <tr>
             <td style="width:130px;">
               Variables:
             </td>
			 <td>
			 {{rows}}
			 </td>
           </tr>
           <tr>
             <td style="width:130px;">
               Attribute: 

             </td>
			 <td>
			 
			 </td>
           </tr>
         </table>

       </td>
	   </tr>
	   <tr>
	   <td>
	   <select id="selectColorCode">  </select>
	   </td>
	   </tr>
	   <tr>
       <td>
         <div id="list"></div>
       </td>
	   </tr>
       <td>
         <div id="hist"></div>
       </td>
     </tr>
   </table>

</div>

</div>

</center>

<center>
<div style="width:700px;">
<span>
<div id="plot">
</div>
</span>
<button onclick="download('')">Download Graph</button>
</div>
</center>
<div>
   <form
      id="graphDownload"
      method="post" action="http://yates.webfactional.com/studies/getGraph/"

        {% csrf_token %}
        <input type="text" style="visibility:hidden;width:0px;" value="" type= "hidden" name="svg">
        </form>
        </div>


</body>


{% endblock %}
