{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<ul id="studies" class="unstyled">
  {% for study, attribute, queue in studylist %}
  {% if queue %}
    {% if attribute %}
  <li class="processing icon">
    <span>{{study}}</span>
    <a class="download icon" href='/studies/download/{{study}}'>Study Data</a>
    <a class="log icon" href='/studies/downloadLog/{{study}}'>Log</a>
    <a class="visual icon" href='/studies/view/{{study}}'>Plot</a>
    <a class="attribute icon" href='/studies/downloadsamples/{{study}}'>Attributes</a>
  </li>
    {% else %}
  <li class="processing icon">
    <span>{{study}}</span>
    <a class="download icon" href='/studies/download/{{study}}'>Study Data</a>
    <a class="log icon" href='/studies/downloadLog/{{study}}'>Log</a>
    <a class="visual icon" href='/studies/view/{{study}}'>Plot</a>
    <a class="attributeno icon">Attributes</a>
  </li>
    {% endif %}
  {% else %}
   <li class="processing icon">
      <span>Study ID {{study}}</span>
      <a class="downloadno icon" >Study Data</a>
      <a class="logno icon" >Log</a>
      <a class="visualno icon">Plot</a>
      <a class="attributeno icon">Attributes</a>
    </li>
   {% endif %}
  {% endfor %}
</ul>

<div>
    <span>
      <center>
        <span class="current">
            Page {{ studylist.number }} of {{ studylist.paginator.num_pages }}
        </span>
</center>

        {% if studylist.has_previous %}
            <a style="float:left;margin-top:-25px;" href="?page={{ studylist.previous_page_number }}">previous</a>
        {% endif %}

	{% if studylist.has_next %}
            <a style="float:right;margin-top:-25px;" href="?page={{ studylist.next_page_number }}">next</a>
        {% endif %}

    </span>
</div>
{% endblock %}
